.app{
  margin-left:1%;
  margin-right:0;
  width:1800px;
  margin-top: 3%;
  font-size: medium;
  font-weight: 300;
  font-family: sans-serif;
}
.plan{
  margin-left: 3%;
  margin-right: 3%;
}

.plan__parameters{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}

.graph{
  display: flex;
  margin-top: 2%;
  margin-left: 3%;
  width:100%;
  height:100%;
}
.graphLeft{
  width:50%;
}
.graphInfo{
  width:20%;
  height:100%;
  margin-left: 4%;
  margin-top: 5%;
}

.lineGraph{
  margin-left: 3%;
  margin-top: 4%;
}

.filters{
  display: flex;
  flex-direction: row;
  margin-left: 18%;
}

.filterDays{
  margin-top: 15px;
  margin-left: 3%;
}

.recommend{
  background-color:#F5F5F5;
  margin-top: 8%;
  margin-bottom: 8%;
}
.expected{
  display: inline;
  /* margin-top: 2%; */
}
.estimated{
  margin-top: 8%;
}
.helper{
  margin-top: 1%;
  font-weight: 200;
  font-size: xx-small;
  width: 70%;
}
.temp{
  display: flex;
}
.expectedView{
  margin-top: 2%;
  margin-bottom: 1%;
  text-decoration: underline;
  font-size: x-small;
}
.icon{
  display: flex;
}

.iconPic{
  padding-top: 4%;
}

.purchase{
  margin-top: 0;
}